#calendars {
    position: absolute;
    width: 600px;
    height: 310px;
    top: 100px;
    left: 150px;
    border-top: 1px solid lightgray;
    box-sizing: border-box;
    opacity: 1;
    box-shadow: 10px 10px 5px 3px RGBA(50, 50, 50, 0.15);
    transition: box-shadow 0.4s;
    background: white;
}

#calendar-layer {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#calendar-layer:hover ~ #calendars {
    box-shadow: 10px 10px 6px 4px RGBA(50, 50, 50, 0.3);
}

.calendars__button {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    height: 70px;
    opacity: 0.7;
    transition: opacity 0.2s;
    cursor: pointer;
}

.calendars_hidden {
    display: none;
}

.calendars__button:hover {
    opacity: 1;
}

.calendars__left-button {
    left: -30px;
}

.calendars__right-button {
    right: -30px;
}

.calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    width: 300px;
    height: 310px;
    justify-content: center;
    align-items: center;
    transition: left 0.2s cubic-bezier(0.5, 0.54, 0.44, 1);
    border: none;
}

.calendar_hidden {
    visibility: hidden;
}

.calendar table {
    border-collapse: collapse;
}

.calendar__month {
    font-size: 120%;
    width: 100%;
    text-align: center;
}

.calendar_left {
    left: 0px;
    border-right: none;
}

.calendar_right {
    left: 300px;
    border-left: none;
}

.calendar__day {
    height: 35px;
    width: 35px;
    text-align: center;
    align-content: center;
    font-weight: 300;
    font-size: 90%;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

.calendar__days {
    background: white;
}

.calendar__month {
    padding-bottom: 5px;
    background: white;
}

.calendar__week-day {
    height: 35px;
    width: 35px;
    text-align: center;
    align-content: center;
}

.calendar__day:hover {
    background: RGBA(0,0,0,0.6);
    color: white;
}


.calendar__day_chosen {
    background: RGB(100, 150, 250) !important;
    color: white;
    
}

.calendar__day_between {
    background: #adf;
}

@media screen and (max-width: 1500px) {
    #header {
        top: 30px;
        width: 600px;
        height: 40px;
        line-height: 40px;
        font-size: 90%;
    }
    #calendars {  
        top: 70px;
        width: 450px;
        height: 255px;
    }
    .calendar {
        font-size: 90%;
        width: 225px;
        height: 255px;
    }
    .calendar__week-day {
        width: 20px;
        height: 25px;
        font-size: 90%;
    }
    .calendar__day {
        font-size: 65%;
        width: 27px;
        height: 27px;
    }
    .calendar_right {
        left: 225px;
    }
    .calendar_left .calendar__days {
        position: relative;
        left: 5px;
        transition: left 0.2s;
    }
    .calendar_right .calendar__days {
        position: relative;
        left: -5px;
        transition: left 0.2s;
    }
    .calendar_left .calendar__month {
        position: relative;
        left: 5px;
        transition: left 0.2s;
    }
    .calendar_right .calendar__month {
        position: relative;
        left: -5px;
        transition: left 0.2s;
    }
}