html, body {
    font-family: sans-serif;
    height: 100%;
    background: RGB(250, 250, 250);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#header {
    position: absolute;
    top: 50px;
    left: 150px;
    display: flex;
    height: 50px;
    width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    cursor: pointer;
}

.header__button {
    font-family: sans-serif;
    height: 100%;
    width: 50%;
    color: snow;
    text-align: center;
    font-size: 110%;
    transition: background 0.2s;
}

#header__open-calendar {
    background: white;
    color: black;
    width: 75%;
    border: 1px solid #dcdcdc;
    border-right: none;
    border-radius: 3px 0px 0px 3px;
}

#header__open-calendar p {
    display: inline;
}

#header__open-calendar:hover p {
    color: RGB(100, 150, 250);
}

#header__search-button {
    width: 25%;
    background: RGB(100, 150, 250);
    border-radius: 0px 3px 3px 0px;
}

#header__search-button:hover {
    background: RGB(70, 70, 90);
}