#googleMap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
}

.controls__button {
    display: block;
    width: 35px;
    padding: 15px;
    background: RGBA(255, 255, 255, 0.8);
}

.controls__button:hover {
    background: RGBA(140, 190, 255, 1);
    outline-color: RGBA(140, 190, 255, 1);
}