#rating {
    height: 270px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: white;
    transition: bottom 0.3s;
}

#top {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.rating__toggle-button {
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -50px;
    height: 70px;
    width: 70px;
    outline: none;
    background: none;
    border: none;
    background-image: url('./../pic/up4.png');
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
    transform: rotateX(180deg);
    cursor: pointer;
    opacity: 0.6;
    backface-visibility: visible;
}

.rating__toggle-button:hover {
    opacity: 0.8;
}

.rating_hidden .rating__toggle-button {
    transform: rotateX(0deg);
}

.city {
    position: relative;
    display: block;
    height: 100%;
    width: 10%;
    font-size: 120%;
    text-align: center;
    cursor: pointer;
}

.city__name {
    display: block;
    width: 90%;
    margin: auto;
    font-size: 95%;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
}

.city__icon {
    position: relative;
    top: 20px;
    margin-top: 20px;
    display: block;
    width: 50px;
    margin: auto;
}

.city__weather {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 5px;
}

.city__weather__icon {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -32px;
}

.city__weather p {
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin: 0px;
}

.rating_hidden {
    bottom: -270px !important;
}

.rating__city_chosen {
    background: RGB(100, 150, 250) !important;
    color: white;
}

.last-city {
    border-bottom: 1px solid black;
}

.city:hover {
    background: #f0f0f0;
}

@media (max-width: 1500px) {
    #rating {
        height: 200px;
    }
    .city {
        font-size: 90%;
    }
    .city__name {
        font-size: 90%;
    }
    .city__icon {
        width: 30px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .city__weather__icon {
        height: 40px;
        margin-left: -20px;
        bottom: 40px;
    }
    .rating_hidden {
        bottom: -200px !important;
    }
}